.todo {
  max-width: 50%;
  width: 50%;
  min-width: 50%;
  margin-left: -50px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
}

.todo_navbar {
  color: white;
  /* margin-left: 10px; */
  position: absolute;
  display: flex;
  background-color: #9242db;
  border-radius: 5px;
  padding: 10px;
  top: -20px;
  width: 94%;
  justify-content: flex-start;
  gap: 8%;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .todo_navbar {
    font-size: x-small;
    justify-content: space-around;
  }

  .navbar_bugs {
    position: relative;
    background-color: rgb(158, 101, 211);
    padding: 5px 5px 5px 30px;
    border-radius: 5px;
  }

  .bug_icon {
    position: absolute;
    left: 2%;
    top: -1%;
    font-size: xx-small;
  }

  .arrow_icon {
    position: absolute;
    top: -30%;
  }

  .cloud_icon {
    position: absolute;
    top: -4%;
  }
}
